﻿@model IEnumerable<CostosDeDespacho.Models.PanelOrderJumpsellerViewModel>

<div class="row">
    <h1 class="">Ordenes Shipex</h1>
</div>
@using (Html.BeginForm("panelOrdenes", "PanelJumpS", FormMethod.Post))
{
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="row">
                <div class="col-6">
                    <div class="form-floating my-1">
                        <input type="date" class="form-control" id="" placeholder="" name="fecDesde">
                        <label for="">Fecha desde</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating my-1">
                        <input type="date" class="form-control" id="" placeholder="" name="fecHasta">
                        <label for="">Fecha hasta</label>
                    </div>
                </div>
            </div>
        </div>
        <!--CLL: Hidden de id tienda-->
        <input type="hidden" value="@ViewBag.idJumpsellerStore" name="idJumpsellerStore" />
        <!--Fin dato-->
        <div class="col-12 col-sm-6">
            <div class="row">
                <div class="col-6">
                    <div class="form-floating my-1">
                        <input type="text" class="form-control" placeholder="" name="idOrden" id="idOrden" value="@(ViewBag.idOrden ?? "Num. orden")">
                        <label for="">N&uacute;mero de orden</label>

                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating my-1"> <button class="btn btn-primary my-3" type="submit">Buscar</button> </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- tabla-->
<div class="grid">
    <div id="example_wrapper" class="dataTables_wrapper">
        <div class="dataTables_length" id="example_length">
            <table id="tblDatos" class="display responsive nowrap dtr-inline dataTable collapsed" role="grid" style="width:100%">
                <thead>
                    <tr>
                        <th class="checkbox" id="check_todos" width="60px"><input type="checkbox" class="select_orden_todos" name="seleccion_orden_todos" value="select_orden_todos"> <label>Selec. Todos</label></th>
                        <th data-priority="1">Pedido</th>
                        <th data-priority="2">Estado</th>
                        <th>Nombre cliente</th>
                        <th data-priority="3">Tel&eacute;fono</th>
                        <th>Email</th>
                        <th data-priority="4">Direcci&oacute;n env&iacute;o</th>
                        <th data-priority="5">Comuna</th>
                        <th>Estado Shipex</th>
                        <th data-priority="6">Tracking Shipex</th>
                        <th>Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        @if (item.tracking == "-")
                        {
                            <td class="checkbox"><input type="checkbox" name="seleccion_orden" class="checkTable" value="select_orden" id="checkTodos" disabled></td>
                        }
                        else
                        {
                            <td class="checkbox"><input type="checkbox" name="seleccion_orden" class="checkTable" value="select_orden" id="checkTodos"></td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.id_orden_jumpseller)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estadoOrdenJumpseller)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreReceptor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccionEnvio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.comuna)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estadoEnvioShipex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tracking)
                        </td>
                        <td>
                            @if (item.estadoEnvioShipex != "Confirmado")
                            {
                                @Html.ActionLink("Confirmar", "Confirmar", new { idTableOrden = item.id, id_store = @ViewBag.idJumpsellerStore })
                            }

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="col-12">
            <button type="submit" id="btnGenerarEtiqueta" class="btn btn-danger btn-block col-8">Generar Etiquetas</button>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">


        $(function () {
            $(document).on('click', '.select_orden_todos', function () {
                if ($(this).is(':checked')) {

                    $("#tblDatos tbody ").each(function () {
                        let tracking = $(this).find("td").eq(9).html().trim();
                        console.log(tracking)
                        if (tracking == "") {
                            $('.checkTable').prop("checked", false);
                        } else {
                            $('.checkTable').prop("checked", true);
                        }
                    });
                }
                else {
                    $('.checkTable').prop("checked", false);
                }
            });

            $('#tblDatos').DataTable({
                dom: 'lBfrtip',
                responsive: true,
                "page": 10,
                "language": {
                    "info": "Página _PAGE_ de _PAGES_, total de registros _MAX_",
                    "zeroRecords": "No hay información",
                    "search": "Buscar :",
                    "lengthMenu": "Mostrar _MENU_ por página",
                    "infoFiltered": "(Filtro de _MAX_ registros)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                },
            });

        });

        $("#btnGenerarEtiqueta").click(function (e) {
            e.preventDefault();


            let fileName = "EtiquetaJS";
            let seleccion = [];

            $("#tblDatos tr td input[type='checkbox']:checked").each(function () {

                row = $(this).closest('tr');

                if (row.find('td:eq(9)').text().trim() != "-") {
                    seleccion.push({
                        codigo_despacho_shipex: row.find('td:eq(9)').text().trim()
                    });
                }
            });

            console.log(seleccion)

            if (seleccion.length === 0) {
                alert("Debe seleccionar al menos 1 registro que se muestra en la tabla");
                //swal("Advertencia", "Debe seleccionar al menos 1 registro que se muestra en la tabla", 'warning');
                return
            } else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GenerarPDF_Masivo")',
                    data: '{_trackingJS:' + JSON.stringify(seleccion) + '}',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',

                    success: function (resultData) {

                        if (resultData.success) {
                            window.location = "/costos_despacho/PanelJumpS/DownloadInvoice" + "?fName=" + resultData.fName;
                        }
                    }
                });
            }
        });

    </script>
}