﻿
@{

    ViewBag.Title = "Configuración App";
}

@model CostosDeDespacho.Models.JUMPSELLER_STORES


@*<h2>Configuraci&oacute;n App</h2>*@
    <div class="col-12 col-sm-5 mx-auto">
        <p>Ingreso de token de configuraci&oacute;n para el funcionamiento de la app. En caso de no tener el token cont&aacute;ctanos al correo <a href="mailto:ventas@shipex.cl">ventas@shipex.cl</a></p>
        @using (Html.BeginForm("setTokenShipex", "PanelJumpS", FormMethod.Post))
        {
            <h4 class="text-start">Ingrese token </h4>
            <input type="hidden" value="@ViewBag.idJumpsellerStore" name="idJumpsellerStore" />
            <input class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example" id="token" name="token" value="@(ViewBag.api_token ?? String.Empty)">
            <button class="btn btn-primary my-4" type="submit">Registrar</button>
        }
    </div>

